* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial","sans-serif";
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

.row {
  overflow: hidden;
}

.col {
  float: left;
}

.d-1 {
  width: 8.33333%;
}

.d-2 {
  width: 16.66667%;
}

.d-3 {
  width: 25%;
}

.d-4 {
  width: 33.33333%;
}

.d-5 {
  width: 41.66667%;
}

.d-6 {
  width: 50%;
}

.d-7 {
  width: 58.33333%;
}

.d-8 {
  width: 66.66667%;
}

.d-9 {
  width: 75%;
}

.d-10 {
  width: 83.33333%;
}

.d-11 {
  width: 91.66667%;
}

.d-12 {
  width: 100%;
}

@media screen and (max-width: 1070px) {
  .m-1 {
    width: 8.33333%;
  }
  .m-2 {
    width: 16.66667%;
  }
  .m-3 {
    width: 25%;
  }
  .m-4 {
    width: 33.33333%;
  }
  .m-5 {
    width: 41.66667%;
  }
  .m-6 {
    width: 50%;
  }
  .m-7 {
    width: 58.33333%;
  }
  .m-8 {
    width: 66.66667%;
  }
  .m-9 {
    width: 75%;
  }
  .m-10 {
    width: 83.33333%;
  }
  .m-11 {
    width: 91.66667%;
  }
  .m-12 {
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .s-1 {
    width: 8.33333%;
  }
  .s-2 {
    width: 16.66667%;
  }
  .s-3 {
    width: 25%;
  }
  .s-4 {
    width: 33.33333%;
  }
  .s-5 {
    width: 41.66667%;
  }
  .s-6 {
    width: 50%;
  }
  .s-7 {
    width: 58.33333%;
  }
  .s-8 {
    width: 66.66667%;
  }
  .s-9 {
    width: 75%;
  }
  .s-10 {
    width: 83.33333%;
  }
  .s-11 {
    width: 91.66667%;
  }
  .s-12 {
    width: 100%;
  }
}

.ads {
  overflow: hidden;
}

.ads li {
  height: 200px;
  box-sizing: border-box;
}

.watchos {
  background: url("img/watchos_large.jpg") no-repeat center center;
}

@media screen and (max-width: 1070px) {
  .watchos {
    background: url("img/watchos_medium.jpg") no-repeat center center;
  }
}

@media screen and (max-width: 736px) {
  .watchos {
    background: url("img/watchos_small.jpg") no-repeat center center;
  }
}

.music {
  background: url("img/music_large.jpg") no-repeat center center;
}

@media screen and (max-width: 1070px) {
  .music {
    background: url("img/music_medium.jpg") no-repeat center center;
  }
}

@media screen and (max-width: 736px) {
  .music {
    background: url("img/music_small.jpg") no-repeat center center;
  }
}

.ios {
  background: url("img/ios_large.jpg") no-repeat center center;
}

@media screen and (max-width: 1070px) {
  .ios {
    background: url("img/ios_medium.jpg") no-repeat center center;
  }
}

@media screen and (max-width: 736px) {
  .ios {
    background: url("img/ios_small.jpg") no-repeat center center;
  }
}

.iphone_upgrade {
  background: url("img/iphone_upgrade_large.jpg") no-repeat center center;
}

@media screen and (max-width: 1070px) {
  .iphone_upgrade {
    background: url("img/iphone_upgrade_medium.jpg") no-repeat center center;
  }
}

@media screen and (max-width: 736px) {
  .iphone_upgrade {
    background: url("img/iphone_upgrade_small.jpg") no-repeat center center;
  }
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  float: left;
}

.header .header-inner {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.header .header-inner .phone-list {
  position: relative;
  display: none;
  height: 48px;
  padding: 0 15px;
  text-align: justify;
  z-index: 10000;
}

@media screen and (max-width: 736px) {
  .header .header-inner .phone-list {
    display: block;
  }
}

.header .header-inner .phone-list::after {
  content: "";
  width: 100%;
  height: 0;
  display: inline-block;
}

.header .header-inner .phone-list .phone-item {
  display: inline-block;
}

.header .header-inner .phone-list .phone-item a {
  display: block;
  height: 48px;
}

.header .header-inner .nav-list {
  height: 44px;
  text-align: justify;
  display: block;
  position: relative;
}

@media screen and (max-width: 736px) {
  .header .header-inner .nav-list {
    display: none;
  }
}

.header .header-inner .nav-list::after {
  content: "";
  width: 100%;
  height: 0;
  display: inline-block;
}

.nav-item {
  display: inline-block;
}

.nav-item a {
  display: block;
  height: 44px;
}

.daohang {
  width: 48px;
  height: 48px;
  background: red;
  float: left;
}

.daohang .crust-top {
  margin-top: 20px;
  width: 17px;
  height: 1px;
  background: #fff;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.daohang .crust-bottom {
  margin-top: 7px;
  width: 17px;
  height: 1px;
  background: #fff;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.gengduo .crust-top {
  transition: transform 0.3s ease;
  transform-origin: 8.5px 3.5px;
  transform: rotate(135deg);
}

.gengduo .crust-bottom {
  transition: transform 0.3s ease;
  transform-origin: 14.5px 2.5px;
  transform: rotate(45deg);
}

.xiaobag {
  transition: transform 1s ease;
  transform: translate3d(0, 0, 0);
}

.bagright {
  transition: transform 1s ease;
  transform: translate3d(100px, 0, 0);
}

.zhezhao {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 0 48px;
  background: #000;
  font-size: 20px;
  z-index: -1;
  transition: transform 1.8s ease;
  transform: translate3d(0, -3000px, 0);
}

.zhezhao .last img {
  float: left;
  margin-right: 10px;
}

.zhezhao .list {
  border-bottom: 1px solid #6f6f6f;
  height: 48px;
  line-height: 48px;
  transform: translate3d(-10px, 0, 0);
}

.zhezhao .list .sousuo {
  height: 48px;
  line-height: 48px;
  float: left;
  color: #fff;
}

.zhezhao .list a {
  color: #fff;
}

.zhezhao .list a:hover {
  opacity: 0.7;
}

.zhezhao .list:nth-child(1) {
  transition: transform 1.2s ease 0.1s;
}

.zhezhao .list:nth-child(2) {
  transition: transform 1.2s ease 0.2s;
}

.zhezhao .list:nth-child(3) {
  transition: transform 1.2s ease 0.3s;
}

.zhezhao .list:nth-child(4) {
  transition: transform 1.2s ease 0.4s;
}

.zhezhao .list:nth-child(5) {
  transition: transform 1.2s ease 0.5s;
}

.zhezhao .list:nth-child(6) {
  transition: transform 1.2s ease 0.6s;
}

.zhezhao .list:nth-child(7) {
  transition: transform 1.2s ease 0.7s;
}

.zhezhao .list:nth-child(8) {
  transition: transform 1.2s ease 0.8s;
}

.zhezhao .list:nth-child(9) {
  transition: transform 1.2s ease 0.9s;
}

.zhezhao .list:nth-child(10) {
  transition: transform 1.2s ease 1s;
}

.zhezhao .hengtiao {
  transform: translate3d(0, 0, 0);
}

.heizhe {
  transition: transform .8s ease;
  transform: translate3d(0, 0, 0);
}

.daohang {
  transition: opacity .3s ease;
  width: 21px;
  background: url("img/daohang.svg") no-repeat center center;
}

.daohang:hover {
  opacity: 0.5;
}

.logo_small {
  transition: opacity .3s ease;
  width: 21px;
  background: url("img/logo_small.svg") no-repeat center center;
}

.logo_small:hover {
  opacity: 0.5;
}

.bag_small {
  transition: opacity .3s ease;
  width: 19px;
  background: url("img/bag_small.svg") no-repeat center center;
}

.bag_small:hover {
  opacity: 0.5;
}

.logo {
  transition: opacity .3s ease;
  width: 20px;
  background: url("img/logo.svg") no-repeat center center;
}

.logo:hover {
  opacity: 0.5;
}

.mac {
  transition: opacity .3s ease;
  width: 31px;
  background: url("img/mac.svg") no-repeat center center;
}

.mac:hover {
  opacity: 0.5;
}

.ipad {
  transition: opacity .3s ease;
  width: 30px;
  background: url("img/ipad.svg") no-repeat center center;
}

.ipad:hover {
  opacity: 0.5;
}

.iphone {
  transition: opacity .3s ease;
  width: 48px;
  background: url("img/iphone.svg") no-repeat center center;
}

.iphone:hover {
  opacity: 0.5;
}

.watch {
  transition: opacity .3s ease;
  width: 44px;
  background: url("img/watch.svg") no-repeat center center;
}

.watch:hover {
  opacity: 0.5;
}

.tv {
  transition: opacity .3s ease;
  width: 20px;
  background: url("img/tv.svg") no-repeat center center;
}

.tv:hover {
  opacity: 0.5;
}

.Music {
  transition: opacity .3s ease;
  width: 40px;
  background: url("img/Music.svg") no-repeat center center;
}

.Music:hover {
  opacity: 0.5;
}

.support {
  transition: opacity .3s ease;
  width: 57px;
  background: url("img/support.svg") no-repeat center center;
}

.support:hover {
  opacity: 0.5;
}

.search {
  transition: opacity .3s ease;
  width: 20px;
  background: url("img/search.svg") no-repeat center center;
}

.search:hover {
  opacity: 0.5;
}

.bag {
  transition: opacity .3s ease;
  width: 18px;
  background: url("img/bag.svg") no-repeat center center;
}

.bag:hover {
  opacity: 0.5;
}

.header .search-box {
  width: 680px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}

.header .search-box .search-box-inner {
  width: 100%;
  height: 44px;
  background: transparent;
  transition: transform .5s ease,opacity .5s ease;
  opacity: 0;
  transform: translate3d(570px, 0, 0);
}

.header .search-box .card {
  width: 682px;
  height: 230px;
  background: #fff;
  opacity: 0;
  float: left;
  z-index: 10;
}

.header .search-box .card li {
  transform: translate3d(300px, 0, 0);
  opacity: 0;
}

.header .search-box .card li:nth-child(1) {
  transition: transform 0.5s ease 0.05s;
}

.header .search-box .card li:nth-child(2) {
  transition: transform 0.5s ease 0.1s;
}

.header .search-box .card li:nth-child(3) {
  transition: transform 0.5s ease 0.15s;
}

.header .search-box .card li:nth-child(4) {
  transition: transform 0.5s ease 0.2s;
}

.header .search-box .card li:nth-child(5) {
  transition: transform 0.5s ease 0.25s;
}

.header .search-box .card li:nth-child(6) {
  transition: transform 0.5s ease 0.3s;
}

.searching .menu {
  transition: transform .3s ease;
  transform: scale(0, 0);
}

.searching .search-box .search-box-inner {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.searching .search-box .card li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.searching .search-box .card {
  opacity: 1;
}

.searching .chahao {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
}

.searching .chahao:hover {
  opacity: 0.5;
}

.searching .chahao .close-left {
  height: 18px;
  width: 1px;
  background: #fff;
  float: left;
  margin-top: 13px;
  margin-left: 21px;
}

.searching .chahao .close-right {
  height: 18px;
  width: 1px;
  background: #fff;
  float: left;
  margin-top: 13px;
}

.searching .chahao .close-left {
  transition: transform .3s ease;
  transform: rotate(-45deg);
}

.searching .chahao .close-right {
  transition: transform .3s ease;
  transform: rotate(45deg);
}

.menu {
  transition: transform .3s ease;
  transform: scale(1, 1);
}

.search-box-inner .fangdajing {
  width: 40px;
  height: 44px;
  float: left;
  background: url("img/jing_large.svg") no-repeat center center;
}

.search-box-inner input {
  width: 600px;
  height: 22px;
  margin-top: 11px;
  border: 0;
  font-size: 15px;
  outline: none;
  float: left;
  color: #fff;
  background: transparent;
}

.card a {
  display: block;
  width: 570px;
  height: 30px;
  text-decoration: none;
  color: #999;
}

.card a:hover {
  color: #0070c9;
}

.card .lis {
  width: 570px;
  height: 30px;
  padding: 0 48px;
  margin: 5px auto;
  color: #999;
  line-height: 30px;
  font-size: 15px;
}

.card .lis:hover {
  background: #f2f2f2;
}

.card .lione {
  display: inline-block;
  width: 602px;
  height: 12px;
  margin: 22px 40px 7px 40px;
  font-size: 12px;
  color: #999;
}

.carouser {
  position: relative;
  min-height: 130px;
  height: calc(100vh - 76px);
  max-height: 560px;
  overflow: hidden;
}

.carouser .gallery-slide-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.carouser .gallery-slide-wrapper a {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  transition: transform 1s ease;
}

.carouser .gallery-slide-wrapper a img {
  display: block;
  margin: 0 auto;
  margin-top: 78px;
}

.carouser .gallery-slide-wrapper a h2 {
  width: 100%;
  font-size: 42px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  margin-top: 0.3em;
}

.carouser .gallery-slide-wrapper a.active {
  z-index: 1;
  display: block;
  transform: translate3d(0, 0, 0);
}

.carouser .gallery-slide-wrapper a.right {
  z-index: 2;
  display: block;
  transform: translate3d(100%, 0, 0);
}

.carouser .gallery-slide-wrapper a.leave {
  transform: translate3d(-100px, 0, 0);
  display: block;
}

.carouser .gallery-slide-wrapper a.enter {
  animation: enter 1s ease both;
  display: block;
}

@keyframes enter {
  0% {
    transform: translate3d(-100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.iphone7 {
  background: url("img/iphone7_large.jpg");
}

@media screen and (max-width: 1070px) {
  .iphone7 {
    background: url("img/iphone7_medium.jpg");
  }
}

@media screen and (max-width: 736px) {
  .iphone7 {
    background: url("img/iphone7_portrait_small.jpg");
  }
}

.Watch {
  background: url("img/Watch_large.jpg");
}

@media screen and (max-width: 1070px) {
  .Watch {
    background: url("img/Watch_medium.jpg");
  }
}

@media screen and (max-width: 736px) {
  .Watch {
    background: url("img/Watch_portrait_small.jpg");
  }
}

.air-pods {
  background: url("img/air-pods_large.jpg");
}

@media screen and (max-width: 1070px) {
  .air-pods {
    background: url("img/air-pods_medium.jpg");
  }
}

@media screen and (max-width: 736px) {
  .air-pods {
    background: url("img/air-pods_portrait_small.jpg");
  }
}

.events {
  background: url("img/events_large.jpg");
}

@media screen and (max-width: 1070px) {
  .events {
    background: url("img/events_medium.jpg");
  }
}

@media screen and (max-width: 736px) {
  .events {
    background: url("img/events_portrait_small.jpg");
  }
}

.iphone7 {
  background-color: #000;
}

.Watch {
  background-color: #f3f3f3;
}

.air-pods {
  background-color: white;
}

.events {
  background-color: black;
}

.tab-list {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.tab-list .dot-nav {
  display: inline-block;
}

.tab-list .dot-nav::after {
  content: "";
  height: 0;
  clear: both;
}

.tab-list .dot {
  cursor: pointer;
  margin: 0 5px;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.2);
  background-clip: content-box;
  padding: 10px 0;
  float: left;
  width: 50px;
}

.tab-list .dot.active {
  background-color: gray;
}

.leftbox {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 13;
  cursor: pointer;
}

.leftbox .left {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  line-height: 64px;
  text-align: center;
  color: #848484;
  background: rgba(180, 180, 180, 0.25);
  font-size: 40px;
  position: absolute;
  left: 18px;
  top: 50%;
  margin-top: -32px;
  opacity: 0;
  transition: opacity 1s ease,background 1s ease;
}

.leftbox .left:hover {
  background: rgba(180, 180, 180, 0.4);
  opacity: 0.8;
}

.leftbox:hover .left {
  opacity: 0.5;
}

.rightbox {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 13;
  cursor: pointer;
}

.rightbox .right {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -32px;
  border-radius: 50%;
  line-height: 64px;
  text-align: center;
  color: #848484;
  opacity: 0;
  background: rgba(180, 180, 180, 0.25);
  font-size: 40px;
  transition: opacity 1s ease,background 1s ease;
}

.rightbox .right:hover {
  background: rgba(180, 180, 180, 0.4);
  opacity: 0.8;
}

.rightbox:hover .right {
  opacity: 0.7;
}

.footer {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 28px;
}

.footer .foot {
  height: 260px;
  display: block;
}

@media screen and (max-width: 736px) {
  .footer .foot {
    display: none;
  }
}

.footer .foot .footernei {
  width: 20%;
  float: left;
}

.footer .foot .footernei a {
  display: block;
  height: 20px;
}

.footer .snei {
  position: relative;
  display: none;
  padding: 0 18px;
}

@media screen and (max-width: 736px) {
  .footer .snei {
    display: block;
  }
}

.footer .snei .neirong {
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  color: #333;
  font-size: 14px;
  background: #f2f2f2;
  border-bottom: 1px solid #e3e3e3;
}

.footer .snei .neirong .title {
  float: left;
}

.footer .snei .neirong .more {
  width: 10px;
  height: 100%;
  float: right;
  color: #666;
  font-size: 20px;
}

.xialist {
  overflow: hidden;
  height: 0;
}

.xialalist {
  height: auto;
}

@media screen and (max-width: 736px) {
  .xialist a {
    width: 100%;
    height: auto;
    display: block;
    transform: translate3d(0, -200px, 0);
  }
}

.xialist a.xiali {
  transition: transform 0.2s ease;
  transform: translate3d(0, 0, 0);
}

.more {
  transition: transform .4s ease;
  transform: rotate(0deg);
}

.morexie {
  transition: transform .4s ease;
  transform: rotate(45deg);
}

.xialist {
  width: 100%;
  padding: 0 14px;
}

.xialist .xinlei {
  padding: 0 14px;
  height: 30px;
  color: #666;
  font-size: 12px;
  line-height: 30px;
}

.xialist .xinlei:hover {
  text-decoration: underline;
}

.footernei .nei11 {
  height: 20px;
  font-size: 12px;
  color: #000;
  line-height: 20px;
  font-weight: 600;
}

.footernei .nei1 {
  height: 20px;
  font-size: 12px;
  color: #666;
  line-height: 20px;
}

.footernei .nei1:hover {
  text-decoration: underline;
}

.beian {
  max-width: 980px;
  height: 52px;
  margin: 0 auto;
  padding: 20px 0 24px;
}

@media screen and (max-width: 826px) {
  .beian {
    padding: 0 18px;
  }
}

.beian .baozhuang {
  width: 100%;
  height: 26px;
  display: block;
  font-size: 12px;
  color: #999;
}

@media screen and (max-width: 736px) {
  .beian .baozhuang {
    display: none;
  }
}

.dibu {
  width: auto;
  height: 26px;
  line-height: 26px;
  float: left;
  position: relative;
}

.dibu li {
  float: left;
}

.dibu li a {
  color: #666;
}

.dibu li a:hover {
  text-decoration: underline;
}

.dibu span {
  float: left;
  margin: 0 12px;
}

.square {
  float: left;
  margin-top: 5px;
}

.square1 {
  float: left;
  width: auto;
  margin-top: 5px;
}

@media screen and (max-width: 826px) {
  .square1 {
    width: 434px;
    position: absolute;
    top: 26px;
    left: 0;
  }
}

.square2 {
  float: right;
  margin-top: 5px;
}

.square2 a {
  color: #666;
}

.square2 a:hover {
  text-decoration: underline;
}

.copyright {
  margin-right: 26px;
}

.shop {
  height: 26px;
  width: 100%;
  line-height: 26px;
  border-bottom: 1px solid #e3e3e3;
}

.shop a {
  color: #0070c9;
}

.shop a:hover {
  color: #666;
  text-decoration: underline;
}

.xinbei {
  height: 26px;
  margin-top: 28px;
  text-align: justify;
  display: none;
}

@media screen and (max-width: 736px) {
  .xinbei {
    display: block;
    margin-bottom: 20px;
  }
}

.xinbei {
  width: 100%;
  height: 52px;
  font-size: 12px;
  color: #999;
}

.xinbei .shop1 {
  height: 26px;
  width: 100%;
  line-height: 26px;
  display: block;
}

@media screen and (max-width: 490px) {
  .xinbei .shop1 {
    display: none;
  }
}

.xinbei .shop1 a {
  color: #0070c9;
}

.xinbei .shop1 a:hover {
  color: #666;
  text-decoration: underline;
}

.shop2 {
  width: 100%;
  height: 46px;
  display: none;
}

.shop2 li {
  margin: 6px 0;
}

.shop2 a {
  color: #0070c9;
}

.shop2 a:hover {
  color: #666;
  text-decoration: underline;
}

@media screen and (max-width: 490px) {
  .shop2 {
    display: block;
    margin-top: 40px;
  }
}

.flag {
  margin: 11px 0 16px 0;
}

.flag a {
  color: #666;
}

.flag a:hover {
  text-decoration: underline;
}

.flag a img {
  margin-right: 10px;
}

.beixin {
  margin: 10px 0;
}

.fenlei {
  height: 14px;
  margin-bottom: 20px;
}

.fenlei li {
  float: left;
}

.fenlei li a {
  color: #666;
}

.fenlei li a:hover {
  text-decoration: underline;
}

.fenlei span {
  float: left;
  margin: 0 12px;
}
